<div class="accordion-wrap">
  <button type="button" class="accordion-tit">
      <span class="svc-name">기준정보 관리(MDM)</span>
  </button>
  <div class="tenant-data">
      <div class="inner">
          <p class="tit">
              Health Check Status
              <small>(12.24 12:22)</small>
          </p>
          <p class="status good">Good</p>
          <div class="legend">
              범례 : 
              <span class="good">Good</span>
              <span class="warn">Warning</span>
              <span class="bad">Bad</span>
              <button type="button" class="tooltip"></button>
          </div>
          <button type="button" class="btn-popup">Health check Report 팝업</button>
      </div>
      <div class="inner">
          <p class="tit">
              Health Check Status
              <small>(12.24 12:22)</small>
          </p>
          <p class="status good">Good</p>
          <div class="legend">
              범례 : 
              <span class="good">Good</span>
              <span class="warn">Warning</span>
              <span class="bad">Bad</span>
              <button type="button" class="tooltip"></button>
          </div>
          <button type="button" class="btn-popup">Health check Report 팝업</button>
      </div>
  </div>
  <div class="accordion-cont">
      <div class="content">
          <div class="tab-btn" data-tab="tab2">
              <button type="button"><h2 class="tab-title">Health Check</h2></button>
              <button type="button" class="on"><h2 class="tab-title">SLO</h2></button>
          </div>
          <div class="tab-content-wrap" id="tab2">
              <div class="tab-content">
                  <ul class="health-check">
                      <li>
                          <p class="health-check-name">Database Health Check</p>
                          <p class="status good">Good</p>
                          <div class="all-status">
                              <div class="status-bar-area">
                                  <span class="status good"></span>
                                  <span class="status warn"></span>
                                  <span class="status bad"></span>
                                  @@for (var i = 0; i < 47; i++) {
                                      <span class="status good"></span>
                                  }
                              </div>
                              <div class="time-area">
                                  <p class="time">11:20</p>
                                  <p class="time">13:20</p>
                                  <p class="time">15:20</p>
                                  <p class="time">17:20</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <p class="health-check-name">Database Health Check</p>
                          <p class="status warn">Warning</p>
                          <div class="all-status">
                              <div class="status-bar-area">
                                  <span class="status good"></span>
                                  <span class="status warn"></span>
                                  <span class="status bad"></span>
                                  @@for (var i = 0; i < 47; i++) {
                                      <span class="status good"></span>
                                  }
                              </div>
                              <div class="time-area">
                                  <p class="time">11:20</p>
                                  <p class="time">13:20</p>
                                  <p class="time">15:20</p>
                                  <p class="time">17:20</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <p class="health-check-name">Database Health Check</p>
                          <p class="status bad">Bad</p>
                          <div class="all-status">
                              <div class="status-bar-area">
                                  <span class="status good"></span>
                                  <span class="status warn"></span>
                                  <span class="status bad"></span>
                                  @@for (var i = 0; i < 47; i++) {
                                      <span class="status good"></span>
                                  }
                              </div>
                              <div class="time-area">
                                  <p class="time">11:20</p>
                                  <p class="time">13:20</p>
                                  <p class="time">15:20</p>
                                  <p class="time">17:20</p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="tab-content on">
                  <ul class="slo">
                      <li>
                          <p class="slo-name">Availability - 신규등록시 존재여부체크</p>
                          <div class="slo-info">
                              <p class="status good">Good</p>
                              <p class="error-budget">Error Budget</p>
                              <p class="residual up good">34’</p>
                              <p class="btn">
                                  <button type="button" class="tooltip"></button>
                              </p>
                          </div>
                      </li>
                      <li>
                          <p class="slo-name">Availability - 신규등록시 존재여부체크</p>
                          <div class="slo-info">
                              <p class="status good">Good</p>
                              <p class="error-budget">Error Budget</p>
                              <p class="residual up good">34’</p>
                              <p class="btn">
                                  <button type="button" class="tooltip"></button>
                              </p>
                          </div>
                      </li>
                      <li>
                          <p class="slo-name">Availability - 신규등록시 존재여부체크</p>
                          <div class="slo-info">
                              <p class="status good">Good</p>
                              <p class="error-budget">Error Budget</p>
                              <p class="residual up good">34’</p>
                              <p class="btn">
                                  <button type="button" class="tooltip"></button>
                              </p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>